{"smsattelite" ["10.64.187.5:80"],
 "sm_kz"
 ["ng-1.smkzmaster.marathon.mesos.sportmaster.ru:80"
  "ng-2.smkzmaster.marathon.mesos.sportmaster.ru:80"],
 "cc_esmostin_uat" ["cc.ostuat.marathon.mesos.sportmaster.ru:80"],
 "vstorage_upstreams"
 ["vstorage1.moscow.sportmaster.ru:80"
  "vstorage2.moscow.sportmaster.ru:80"
  "vstorage3.moscow.sportmaster.ru:80"],
 "cmsgate.k8s" ["k8s-prod.gksm.local:80"],
 "sm_kg"
 ["ng-1.smkgmaster.marathon.mesos.sportmaster.ru:80"
  "ng-2.smkgmaster.marathon.mesos.sportmaster.ru:80"],
 "uns" ["mailsender1.gksm.local:80" "mailsender2.gksm.local:80"],
 "sm_com"
 ["ng-1.smcommaster.marathon.mesos.sportmaster.ru:80"
  "ng-2.smcommaster.marathon.mesos.sportmaster.ru:80"],
 "ostin" ["10.64.63.235:80"],
 "avangard_prod" ["10.64.184.133:80"],
 "csm_k8s_prod" ["10.64.184.133:80"],
 "sm-aimsca" ["10.70.131.36:80"],
 "cc_ostin"
 ["front-cc-1.ost.marathon.mesos.sportmaster.ru:3000"
  "front-cc-2.ost.marathon.mesos.sportmaster.ru:3000"],
 "relay" ["relay.gksm.local:25"],
 "sm_ru_waf" [],
 "k8s-prod" ["k8s-prod.gksm.local:80"],
 "ostin_mobile"
 ["api-1.ost.marathon.mesos.sportmaster.ru:8080"
  "api-2.ost.marathon.mesos.sportmaster.ru:8080"
  "api-3.ost.marathon.mesos.sportmaster.ru:8080"
  "api-4.ost.marathon.mesos.sportmaster.ru:8080"],
 "sm_ru"
 ["ng-1.sm.marathon.mesos.sportmaster.ru:80"
  "ng-3.sm.marathon.mesos.sportmaster.ru:80"],
 "csm_weblogic_prod_csm.uaint.net"
 ["weblogic-evo-2.gksm.local:9004" "weblogic-evo-1.gksm.local:9004"],
 "csm_weblogic_prod"
 ["weblogic-evo-2.gksm.local:9002" "weblogic-evo-1.gksm.local:9002"],
 "link" ["dengage1.gksm.local:80" "dengage2.gksm.local:80"],
 "sm_ru_1"
 ["ng-1.sm.marathon.mesos.sportmaster.ru:80"
  "ng-3.sm.marathon.mesos.sportmaster.ru:80"],
 "moappsmapi"
 ["api-app-1.moappsmapi.marathon.mesos.sportmaster.ru:8080"
  "api-app-2.moappsmapi.marathon.mesos.sportmaster.ru:8080"],
 "cc_kz_ostin" ["cc.ost-kz.marathon.mesos.sportmaster.ru:80"],
 "ostin-kz-front" ["10.64.174.8:3000" "10.80.185.96:3000"],
 "sportmaster.by"
 ["ng-1.smbymaster.marathon.mesos.sportmaster.ru:80"
  "ng-2.smbymaster.marathon.mesos.sportmaster.ru:80"],
 "ostin-front"
 ["front-1.ost.marathon.mesos.sportmaster.ru:3000"
  "front-2.ost.marathon.mesos.sportmaster.ru:3000"
  "front-3.ost.marathon.mesos.sportmaster.ru:3000"
  "front-4.ost.marathon.mesos.sportmaster.ru:3000"],
 "csm_weblogic_prod_ua"
 ["weblogic-evo-2.gksm.local:9004" "weblogic-evo-1.gksm.local:9004"],
 "mobile-expeditor"
 ["mobile-prod1.gksm.local:80" "mobile-prod2.gksm.local:80"],
 "vstorage_upstreams_sm"
 ["vstorage1.moscow.sportmaster.ru:80"
  "vstorage2.moscow.sportmaster.ru:80"
  "vstorage3.moscow.sportmaster.ru:80"],
 "ru_portalvendor" ["172.16.6.33:80" "172.16.6.101:80"],
 "skechers"
 ["skechers-app2.gksm.local:80" "skechers-app1.gksm.local:80"],
 "cc_kz_esmostin_uat" ["cc.ostdev-kz.marathon.mesos.sportmaster.ru:80"]}
